@import "src/css/color";

.div__img--logo {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  -webkit-user-drag: none;
}

.nav {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  transition: 1s;
  position: fixed;
  top: 10px;
  left: 10px;

  &:hover {
    height: 80%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
  }
}

.nav__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.nav__item {
  display: flex;
  align-items: flex-start;
  text-align: center;
  margin: 10px 0;
  height: 20px;
  cursor: pointer;
}


.items-transition-enter-active, .items-transition-leave-active {
  transition: opacity .5s;
}
.items-transition-enter, .items-transition-leave-to {
  opacity: 0;
}
