.page_router_flex {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 5px;
}

.page_router_column {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 1px solid #2C73D2;
  margin-right: 10px;
  width: 25rem;
  padding: 5px;

  &:last-child {
    margin-right: 0;
  }

}

.page_cards {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.page_card {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2px 4px;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 4rem;
  font-size: 1.4rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &:last-child {
    margin-bottom: 0;
  }
}


.page_card_icon {
  color: rgba(255, 255, 255, 0.5);

  &:hover {
    color: rgba(100, 100, 100, 0.9);
    cursor: pointer;
  }
}
